# Исключить все классы скомпилированного Java-кода
*.class

# Исключить IntelliJ IDEA конфигурации и папки
.idea/
*.iml
.DS_Store

# Исключить папки сборки
out/
build/

# Исключить логи и временные файлы
*.log
*.tmp
*.swp